.menu-nav {
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgba(0, 46, 99, 0.616);
}

.menu {
  border: none;
  background: none;
  font-size: 16px;
  margin: 15px 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.search {
  margin-right: 20px;
}

.menu:hover {
  color: #f0dc6c;
}
